<template name="senseChart">
  
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Sensores</div>
        <div class="panel-body">
          <div id="container-column" ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="twitterChart">
  
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Redes Sociales</div>
        <div class="panel-body">
          <div id="container-column2" ></div>
        </div>
      </div>
    </div>
  </div>
</template>